@font-face {
  font-family: Exo;
  src: url("/fonts/Exo2-Bold.otf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: Exo;
  src: url("/fonts/Exo2-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Exo;
  src: url("/fonts/Exo2-Light.otf") format("truetype");
  font-weight: 200;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Exo", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-family: "Exo";
  font-weight: 200;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
